<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta name="referrer" content="no-referrer" />
    <meta name="referrer" content="never">
    <meta name="referrer" content="same-origin" />
    <title>嵌入式数据管理</title>
    <div th:replace="~{layout}"></div>
</head>
<body>
<div class="demoTable">
    问题：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="search-question" autocomplete="off">
    </div>
    表结构：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="search-schemas" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload" id="search">搜索</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="layui-btn" id="embedding-add" data-method="setTop">添加嵌入数据</button>
</div>
<table class="layui-hide" id="test" lay-filter="test"></table>


<script type="text/html" id="barDemo" th:inline="none">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<div id="embedding-div" style="display: none;">
    <form class="layui-form" action="form.html">
        <div class="layui-form-item">
            <label class="layui-form-label">问题</label>
            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" id="question" autocomplete="off" placeholder="问题" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">表结构</label>
            <div class="layui-input-block">
                <textarea placeholder="表结构" class="layui-textarea" id="schemas"></textarea>
            </div>
        </div>
        <input type="hidden" name="id" id="embedding-id">
    </form>

</div>

<script th:inline="none">

    layui.use(['table', 'layer'], function(){
        var table = layui.table;
        var $ = layui.jquery, layer = layui.layer;
        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    $.ajax({
                        url: "/embedding-del",
                        type: "post",
                        dataType: "json",
                        contentType: "application/json",
                        data: JSON.stringify({
                            "id": data.id
                        }),
                        success: function(data){
                            layer.close(index);
                            $("#search").trigger("click");
                        }
                    });
                });
            } else if(obj.event === 'edit'){
                $('#question').val(data.question);
                $('#schemas').val(data.schemas);
                $('#embedding-id').val(data.id);
                edit()
            }
        });

        $('#embedding-add').on('click', function(){
            add();
        });

        //触发事件
        var add = function(){
            layer.open({
                type: 1,
                title: '添加嵌入数据',
                area: ['450px', '350px'],
                btnAlign: 'c',
                shade: 0,
                id: 'add',
                maxmin: true,
                content: $("#embedding-div"),
                btn: ['取消', '提交'],
                yes: function(index, layero){ // 绑定“取消”按钮事件
                    console.log("cancel");
                    $('#question').val("");
                    $('#schemas').val("");
                    $('#embedding-id').val("");
                    layer.close(index);
                },
                btn2: function(index, layero){ // 绑定“提交”按钮事件
                    console.log("submit");
                    // 请求保存表单数据
                    $.ajax({
                        url: "/embedding-add",
                        type: "post",
                        dataType: "json",
                        contentType: "application/json",
                        data: JSON.stringify({
                            "question": $('#question').val(),
                            "schemas": $('#schemas').val(),
                        }),
                        success: function(data){
                            layer.close(index);
                            $("#search").trigger("click");
                        }
                    });
                },
                zIndex: layer.zIndex, // 保持选中窗口置顶
                success: function(layero, index){
                    layer.setTop(layero);
                    layer.escIndex = layer.escIndex || [];
                    layer.escIndex.unshift(index);
                    layero.on('mousedown', function(){
                        var _index = layer.escIndex.indexOf(index);
                        if(_index !== -1){
                            layer.escIndex.splice(_index, 1);
                        }
                        layer.escIndex.unshift(index);
                    });
                },
                end: function(){
                    if(typeof layer.escIndex === 'object'){
                        layer.escIndex.splice(0, 1);
                    }
                }
            });
        };

        var edit = function(){
            layer.open({
                type: 1,
                title: '修改嵌入数据',
                area: ['450px', '350px'],
                btnAlign: 'c',
                id: 'edit',
                shade: 0,
                maxmin: true,
                content: $("#embedding-div"),
                btn: ['取消', '提交'],
                yes: function(index, layero){ // 绑定“取消”按钮事件
                    console.log("cancel");
                    $('#question').val("");
                    $('#schemas').val("");
                    $('#embedding-id').val("");
                    layer.close(index);
                },
                btn2: function(index, layero){ // 绑定“提交”按钮事件
                    console.log("submit");
                    // 请求保存表单数据
                    $.ajax({
                        url: "/embedding-edit",
                        type: "post",
                        dataType: "json",
                        contentType: "application/json",
                        data: JSON.stringify({
                            "question": $('#question').val(),
                            "schemas": $('#schemas').val(),
                            "id": $('#embedding-id').val(),
                        }),
                        success: function(data){
                            layer.close(index);
                            $("#search").trigger("click");
                        }
                    });
                },
                zIndex: layer.zIndex, // 保持选中窗口置顶
                success: function(layero, index){
                    layer.setTop(layero);
                    layer.escIndex = layer.escIndex || [];
                    layer.escIndex.unshift(index);
                    layero.on('mousedown', function(){
                        var _index = layer.escIndex.indexOf(index);
                        if(_index !== -1){
                            layer.escIndex.splice(_index, 1);
                        }
                        layer.escIndex.unshift(index);
                    });
                },
                end: function(){
                    if(typeof layer.escIndex === 'object'){
                        layer.escIndex.splice(0, 1);
                    }
                }
            });
        };



        renderTable = function (data){
            table.render({
                elem: '#test',
                toolbar: '#toolbarDemo',
                title: 'AI嵌入数据表',
                data: data,
                cols: [[
                    {type: 'checkbox', fixed: 'left'},
                    {field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true},
                    {field:'question', title:'问题', width:250,edit: 'text'},
                    {field:'schemas', title:'表结构', width:680, edit: 'text', sort: true},
                    {fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
                ]],
                page: true
            })
        };
        var loadEmbedding = function(){
            $.ajax({
                url: "/embedding",
                type: "post",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    "question": $('#search-question').val(),
                    "schemas": $('#search-schemas').val(),
                }),
                success: function(data){
                    renderTable(data.data);
                }
            });
        };
        $("#search").click('click', function (){
            loadEmbedding();
        });
        $("#search").trigger("click");
    });
</script>

</body>
</html>